.jumbotron {
    /* padding: 2rem 1rem; */
    padding-top: 6rem;
    background-color: #e2edff;
}

/* body {
    min-height: 4000px;
} */

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}